@page "/Hello"
@inject HttpClient Http

<h3>你好 Blazor WebAssembly</h3>

<p>
    姓名: <input @bind="YourName" class="form-control" />
    <input type="submit" value="問安" @onclick="SayHello" />
</p>

@if (string.IsNullOrEmpty(MyAnswer) == false)
{
    <div><span>伺服器回應 - </span>@MyAnswer</div>
}

@code {
    public string YourName { get; set; }
    public string MyAnswer { get; set; }

    protected override void OnInitialized()
    {
        YourName = "請在此輸入姓名";

    }

    async void SayHello()
    {
        string result = await Http.GetStringAsync($"api/SayHello/{YourName}");

        MyAnswer = $"{result}";
        StateHasChanged();

    }
}
